@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none !important;
  text-decoration: none !important;
}
a:visited,
a:active {
  text-decoration: none !important;
  list-style-type: none !important;
}
body {
  background-image: linear-gradient(to right, #4dabff, #62ddff);
}
.a1 {
  background-image: linear-gradient(to right, #4dabff, #62ddff);
}

/* CONTAINER */

.container {
  max-width: 1120px;
  margin: 0 auto;
}

/* HEADER */

header {
  width: 100%;
  background-image: linear-gradient(to right, #4dabff, #62ddff);
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  z-index: 99;
}
header .header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  font-family: 400 "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;

  /* position: sticky; */
}
header .header ul {
  padding-top: 10px;
  display: flex;
}
header .header nav ul li {
  margin-left: 35px;
  text-transform: uppercase;
  transition: 0.3s;
}
header .header nav ul li:hover {
  transform: scale(1.2);
}
header .header nav ul li a {
  color: white;
}
/* header dropdown */
li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  transition: 1s;
}
.dropbtn {
  transition: 1s;
}
.dropbtn:hover {
  transform: translate(20px, 10px);
}

.dropdown-content a {
  color: rgb(0, 0, 0) !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border: 1px white solid;
  margin-top: 2px;
  transition: 0.5s;
}

.dropdown-content a:hover {
  background-image: linear-gradient(
    to right,
    rgb(57, 176, 255),
    rgb(78, 184, 255)
  );
  transform: scale(1.07);
}

.dropdown:hover .dropdown-content {
  display: block;
}
header .header .button button {
  color: white;
  background-color: #6fdaff;
  padding: 15px 35px 15px 35px;
  border: 0.5px solid rgb(239, 239, 239);
  border-radius: 3px;
  cursor: pointer;
  transition: 0.6s;
  font-weight: bold;
}
header .header .button button:hover {
  background-color: white;
  color: black;
}

/* SECTION 1 */
.section2 {
  width: 100%;
  height: 640px;
  background-color: #ffffff;
}

.content {
  width: 100%;
  height: 900px;
  display: flex;
  margin-top: 140px;
}
.content div img {
  width: 670px;
}
.content div h1 {
  margin-top: 50px;
  font-size: 49px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.content div p {
  margin-top: 23px;
  font-size: 16px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.5;
}
.divButton {
  /* margin-top: 30px; */
  margin: 30px 3px 25px 0px;
}
.divButton button {
  padding: 13px 30px 13px 30px;
  align-items: center;
  text-align: center;
  margin-left: 7px;
  border-radius: 3px;
  border: 0.5px solid rgb(239, 239, 239);
  background-color: #62bbff;
  transition: 0.5s;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.divButton button:hover {
  background-color: white;
  color: black;
}
.button1 {
  background-color: white !important;
  color: black !important;
  transition: 0.6s;
}
.button1:hover {
  background-color: #62bbff !important;
  color: rgb(255, 255, 255) !important;
}
/* SECTION 2 */
.section2 {
  width: 100%;
  background-color: #e8f4fa;
  height: 600px;
}
.main-title {
  text-align: center;
  padding-top: 75px;
}
.main-title h1 {
  font-size: 40px;
}
.main-title p {
  padding-top: 40px;
  font-size: 16px;
  max-width: 610px;
  margin: auto;
}

/*  */
.img_border {
  width: 60px;
  height: 60px;
  border: 0.5px solid #EEEEEE;
  position: absolute;
  left: 107px;
  transition: 0s;
  background-color: #F9F9FF;
}
/* .img_border:hover,.card div img:hover {
  background-color: #62bbff;
} */
.card div img {
  width: 40px;
  display: flex;
  position: absolute;
  right: 130px;
  top: 10px;
  /* border: 1px solid rgb(0, 0, 0); */
}
/* .card div img:hover {
  background-color: #62bbff;
  cursor: pointer;
} */
.card-boxes {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  z-index: 10;
}
.card {
  width: 290px;
  height: 220px;
  /* background-color: #ff0000; */
  position: relative;
  cursor: pointer;
}
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
.card div p {
  position: absolute;
  bottom: 0px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}
.card div a {
  position: absolute;
  top: 60px;
  font-size: 25px;
  text-align: center;
  left: 54px;
  color: black;
  font-weight: bolder;
}
.card div a:hover {
  color: #62bbff;
}
/* SECTION 3 */
.section3 {
  background: #dde9f8;
  width: 100%;
  height: 600px;
}
.tabs {
  padding-top: 40px;
  border: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.tabs li {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
}
.tabs li a {
  border: none;
  padding: 0;
  background: #fff;
  border-radius: 0;
  text-align: center;
  line-height: 60px;
  border-radius: 5px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #222;
  padding: 20px;
  transition: 1s;
}
.tab_row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  justify-content: space-around;
}
.tab_row img {
  max-width: 800px;
  margin-left: 50px;
}
.left_content {
  max-width: 400px;
}
/* footer */
footer {
  width: 100%;
  height: 250px;
  background: #28282b;
  color: #63b1f4;
}
.logo {
  padding-bottom: 13px;
}
.footer_content {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  /* width: 100%;
    height: 600px; */
}
.f1 p {
  max-width: 500px;
  margin-top: 30px;
}
.footer_content a {
  display: block !important;
  color: #dde9f8;
  transition: 0.4s;
}
.footer_content a:hover {
  color: #63b1f4;
  transform: scale(1.2);
}
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
footer h4 {
  padding-top: 18px;
  font-size: 14px;
  color: #dde9f8;
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: 43px;
  background-color: #28282b;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
}

/* MEDIA QUERY */
.navDiv {
  list-style: none;
  background-color: #ff0000;
}
.navDiv a {
  color: #fff;
}

.mobile {
  visibility: hidden;
  display: none;
  margin-right: 30px;
}

.navDivDisplay {
  display: none;
}
.navDivDisplay.visible {
  display: block;
}

@media only screen and (max-width: 990px) {
  header {
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(2, 2, 3));
  }
  nav,
  .button {
    display: none;
  }
  /* .content{
    z-index: 5;
  } */
  .content div img {
    display: none;
  }

  header .header {
    justify-content: space-between;
  }
  .mobile {
    margin-right: 50px;
  }
  main {
    max-width: 100%;
  }
  .content div h1 {
    font-size: 35px;
  }
  main {
    height: 500px;
  }
  .logo {
    margin-left: 50px;
  }
  .navDiv {
    display: inline-block;
    justify-content: space-between;
    box-sizing: border-box;
    /* z-index: 4; */
    /* background-color: #ff0000; */
  }
  .navDiv li {
    margin: 5px;
    transition: 1s;
  }
  .navDiv li a:hover {
    color: rgb(255, 221, 0);
  }
  .mobile {
    visibility: visible;
    display: block;
  }

  /*  */
  .navDiv {
    display: inline-block;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #000000;
    width: 100%;
    height: 318px;
    position: absolute;
  }
  .navDiv li {
    border-bottom: 1px solid #fff;
    padding-top: 22px;
    display: flex;
    margin: 5px;
    transition: 1s;
    justify-content: center;
  }
  .navDiv li a:hover {
    color: rgb(255, 221, 0);
  }
  .mobile {
    visibility: visible;
  }
  .bars {
    visibility: none;
    cursor: pointer;
  }
  .work-row {
    justify-content: space-between;
  }
  .a2 {
    display: none;
  }

  .work-row p {
    max-width: 200px;
  }
  .main-title p {
    max-width: 300px;
  }
  .section2 {
    width: 100%;
    height: 1100px;
  }
  .card {
    margin-left: 70px;
    margin-top: 10px;
  }
  .main-title {
    margin-left: 35px;
  }
  .section3 {
    width: 100%;
    height: 720px;
  }
  .right_content img {
    max-width: 100%;
  }
  .right_content img {
    padding: 0px;
    margin: 0px;
  }
  footer {
    width: 100%;
    height: 300px;
  }
}
@media only screen and (max-width: 1060px) {
  .section3 {
    width: 100%;
    height: 720px;
  }
}
