@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none !important;
  text-decoration: none !important;
}
a:visited,
a:active {
  text-decoration: none !important;
  list-style-type: none !important;
}
body {
  background-image: linear-gradient(to right, #4dabff, #62ddff);
}

/* CONTAINER */

.container {
  max-width: 1120px;
  margin: 0 auto;
}

/* HEADER */

header {
  width: 100%;
  background-image: linear-gradient(to right, #4dabff, #62ddff);
  position: sticky;
  top: 0;
  padding: 5px;
  background-color: #cae8ca;
  z-index: 99;
}
header .header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  font-family: 400 "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: bold;
}
header .header ul {
  padding-top: 10px;
  display: flex;
}
header .header nav ul li {
  margin-left: 35px;
  text-transform: uppercase;
  transition: 0.3s;
}
header .header nav ul li:hover {
  transform: scale(1.2);
}
header .header nav ul li a {
  color: white;
}

/* header dropdown */

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 3;
  transition: 1s;
}
.dropbtn {
  transition: 1s;
}
.dropbtn:hover {
  transform: translate(20px, 10px);
}
.dropdown-content a {
  color: rgb(0, 0, 0) !important;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  border: 1px white solid;
  margin-top: 2px;
  transition: 0.5s;
}
.dropdown-content a:hover {
  background-image: linear-gradient(
    to right,
    rgb(57, 176, 255),
    rgb(78, 184, 255)
  );
  background-image: linear-gradient(
    to right,
    rgb(57, 176, 255),
    rgb(78, 184, 255)
  );
  transform: scale(1.07);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.button button {
  color: white;
  background-color: #6fdaff;
  padding: 15px 35px 15px 35px;
  border: 0.5px solid rgb(239, 239, 239);
  border-radius: 3px;
  cursor: pointer;
  transition: 0.6s;
  font-weight: bold;
}
.button button:hover {
  background-color: #c4f0ff;
  color: black;
}
::selection {
  color: rgb(233, 248, 255);
  background: #252528;
}
::-webkit-scrollbar {
  width: 12px;
  color: #000000;
  background-color: #212124;;
}
::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
  border: 0.1px rgb(5, 5, 5) solid;
}
::-webkit-scrollbar-thumb {
  background: rgb(71, 191, 255); 
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(111, 203, 253);
}
/* SECTION 1 */

.content {
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
}
.content div img {
  width: 670px;
}
.content div h1 {
  margin-top: 50px;
  font-size: 49px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.content div p {
  margin-top: 23px;
  font-size: 16px;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.5;
}
.divButton {
  margin: 30px 3px 25px 0px;
}
.divButton button {
  padding: 13px 30px 13px 30px;
  align-items: center;
  text-align: center;
  margin-left: 7px;
  border-radius: 3px;
  border: 0.5px solid rgb(239, 239, 239);
  background-color: #62bbff;
  transition: 0.5s;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.divButton button:hover {
  background-color: white;
  color: black;
}
.button1 {
  background-color: white !important;
  color: black !important;
  transition: 0.6s;
}
.button1:hover {
  background-color: #62bbff !important;
  color: rgb(255, 255, 255) !important;
}

/* SECTION 2 */

.section2 {
  width: 100%;
  background-image: linear-gradient(to right, #e1f5ff, #ebf2f6);
  height: 600px;
}
.main-title {
  text-align: center;
  padding-top: 75px;
}
.main-title h1 {
  font-size: 40px;
}
.main-title p {
  padding-top: 40px;
  font-size: 16px;
  max-width: 610px;
  margin: auto;
}

/*  */
.img_border {
  width: 60px;
  height: 60px;
  border: 0.5px solid #eeeeee;
  position: absolute;
  left: 107px;
  transition: 0s;
  background-color: #f9f9ff;
}
.card div img {
  width: 40px;
  display: flex;
  position: absolute;
  right: 130px;
  top: 10px;
}
.card-boxes {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  z-index: 10;
}
.card {
  width: 290px;
  height: 220px;
  position: relative;
  cursor: pointer;
}

.card div p {
  position: absolute;
  bottom: 0px;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
}
.card div a {
  position: absolute;
  top: 60px;
  font-size: 25px;
  text-align: center;
  left: 54px;
  color: black;
  font-weight: bolder;
}
.card div a:hover {
  color: #62bbff;
}

/* SECTION 3 */

.section3 {
  background: #dde9f8;
  width: 100%;
  height: 600px;
  
}
.tabs {
  padding-top: 40px;
  border: none;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.tabs li {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 0 15px;
}
.tabs li a {
  border: none;
  padding: 0;
  background: #fff;
  border-radius: 0;
  text-align: center;
  line-height: 60px;
  border-radius: 5px;
  font-size: 13px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: #222;
  padding: 20px;
  transition: 1s;
}
.tab_row {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  justify-content: space-between;
}
.tab_row img {
  max-width: 800px;
  margin-left: 50px;
}
.left_content {
  max-width: 400px;
}

/* footer */

footer {
  width: 100%;
  height: 250px;
  background: #28282b;
  color: #63b1f4;
  box-shadow: 0px 0px 4px 3px rgba(21,21,21,0.75);
  -webkit-box-shadow: 0px 0px 4px 3px rgba(21,21,21,0.75);
  -moz-box-shadow: 0px 0px 4px 3px rgba(21,21,21,0.75);
}
.logo {
  padding-bottom: 13px;
}
.footer_content {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  /* width: 100%;
    height: 600px; */
}
.f1 p {
  max-width: 500px;
  margin-top: 30px;
}
.footer_content a {
  display: block !important;
  color: #dde9f8;
  transition: 0.4s;
}
.footer_content a:hover {
  color: #63b1f4;
  transform: scale(1.2);
}
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
footer h4 {
  padding-top: 18px;
  font-size: 14px;
  color: #dde9f8;
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: 43px;
  background-color: #28282b;
  align-items: center;
  justify-content: center;
  font-family: "Josefin Sans", sans-serif;
}

/* MEDIA QUERY */

.navDiv {
  list-style: none;
  background-color: #ff0000;
  display: none;
}
.navDiv a {
  color: #fff;
}

.mobile {
  visibility: hidden;
  display: none;
  margin-right: 30px;
}

.navDivDisplay {
  display: none;
}
.navDivDisplay.visible {
  display: block;
}

@media only screen and (max-width: 990px) {
  header {
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(2, 2, 3));
  }
  nav,
  .button {
    display: none;
  }

  .content div img {
    display: none;
  }

  header .header {
    justify-content: space-between;
  }
  .mobile {
    margin-right: 50px;
  }
  main {
    max-width: 100%;
  }
  .content div h1 {
    font-size: 35px;
  }
  main {
    height: 500px;
  }
  .logo {
    margin-left: 50px;
    transition: 1s;
  }
  .logo1 {
    transition: 1s;
  }
  .logo1:hover {
    transform: scale(1.5);
  }
  .navDiv {
    display: inline-block;
    justify-content: space-between;
    box-sizing: border-box;
  }
  .navDiv li {
    margin: 5px;
    transition: 1s;
  }
  .navDiv li a:hover {
    color: rgb(255, 221, 0);
  }
  .mobile {
    visibility: visible;
    display: block;
  }

  /*  */
  .navDiv {
    display: inline-block;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #000000;
    width: 100%;
    height: 318px;
    position: absolute;
  }
  /* header{
    position: relative;
  } */
  .navDiv li {
    border-bottom: 1px solid #fff;
    padding-top: 22px;
    display: flex;
    margin: 5px;
    transition: 1s;
    justify-content: center;
  }
  .navDiv li a:hover {
    color: rgb(255, 221, 0);
  }
  .mobile {
    visibility: visible;
  }
  .bars {
    visibility: none;
    cursor: pointer;
  }
  .work-row {
    justify-content: space-between;
  }
  .a2 {
    display: none;
  }

  .work-row p {
    max-width: 200px;
  }
  .main-title p {
    max-width: 300px;
  }
  .section2 {
    width: 100%;
    height: 1100px;
  }
  .card {
    margin-left: 70px;
    margin-top: 10px;
  }
  .main-title {
    margin-left: 35px;
  }
  .section3 {
    width: 100%;
    height: 720px;
  }
  .right_content img {
    max-width: 100%;
  }
  .right_content img {
    padding: 0px;
    margin: 0px;
  }
  footer {
    width: 100%;
    height: 300px;
  }
}
@media only screen and (max-width: 1060px) {
  .section3 {
    width: 100%;
    height: 720px;
  }
}

                                                 /* SECTION 4 */

.section4 {
  padding-top: 70px;
  background-image: linear-gradient(to right, #e1f5ff, #ebf2f6);
  width: 100%;
  height: 500px;
  
}
#slider {
  margin: 0 auto;
  width: 600px;
  max-width: 100%;
  text-align: center;
}
#slider input[type="radio"] {
  display: none;
}
#slider label {
  cursor: pointer;
  text-decoration: none;
}
#slides {
  padding: 10px;
  border: 3px solid #ccc;
  background: #fff;
  position: relative;
  z-index: 1;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
  line-height: 0;
  height: 300px;
}
#slides .slide {
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}
#slides .slide_1 {
  background: #00171f;
}
#slides .slide_2 {
  background: #003459;
}
#slides .slide_3 {
  background: #007ea7;
}
#slides .slide_4 {
  background: #00a8e8;
}
#controls {
  margin: -180px 0 0 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  position: relative;
}
#controls label {
  transition: opacity 0.2s ease-out;
  display: none;
  width: 50px;
  height: 50px;
  opacity: 0.4;
}
#controls label:hover {
  opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
  float: right;
  margin: 0 -50px 0 0;
  display: block;
}
#slide1:checked ~ #controls label:nth-last-child(2),
#slide2:checked ~ #controls label:nth-last-child(3),
#slide3:checked ~ #controls label:nth-last-child(4),
#slide4:checked ~ #controls label:nth-last-child(1) {
  background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
  float: left;
  margin: 0 0 0 -50px;
  display: block;
}
#bullets {
  margin: 150px 0 0;
  text-align: center;
}
#bullets label {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background: #28282b;
  margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
  background-image: linear-gradient(to right, #38a0fb, #31c8f1);
  box-shadow: 3px 2px 3px -1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 3px 2px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 2px 3px -1px rgba(0, 0, 0, 0.75);
}
@media screen and (max-width: 900px) {
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1),
  #slide1:checked ~ #controls label:nth-last-child(2),
  #slide2:checked ~ #controls label:nth-last-child(3),
  #slide3:checked ~ #controls label:nth-last-child(4),
  #slide4:checked ~ #controls label:nth-last-child(1) {
    margin: 0;
  }
  #slides {
    max-width: 100%;
    margin: 0 auto;
  }
  .slide-content img {
    width: 100px;
  }
}
